
<div class="row">
     <div class="col-12 col-sm-12">
           <div class="card">
                <div class="card-body">
                     <div  class="card-title">
                           User Dashboard
                     </div>

                     <div class="card-text">
                           <h3>Welcome!  {{userDetails}}</h3>
                           <br/>
                          <a routerLink="logout">Logout</a>
                     </div>
                </div>
           </div>
     </div>
</div>


